:root{
    font-size: 17px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}

body{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "he he"
    "as na"
    "as ma"
    "as fo"
    ;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 50px 50px 1fr 50px;
    
}

body>header{
    grid-area: he;
}
body>aside{
    grid-area:as;
    background-color: yellow;
}
body>nav{
    grid-area: na;
    background-color: red;
}
body>main{
    grid-area: ma;
    background-color: pink;
}
body>footer{
    grid-area: fo;
    background-color: deepskyblue;
}

/* media query*/


/*header*/
header{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
header>section{
    display: flex;
    align-items: center;
}

.logo-section, .login-section{
    display: flex;
    gap: 50px;
}


.search-section>input{
    height: 40px;
    border-radius: 15px;
    width: 18rem;
    border-color: 1px solid lightgray;
    padding: 0 1rem;
    position: relative;
}
.search-section>button{
    position: absolute;
    height:100%;
    background-color: transparent;
    border: none;
}
/* rivedere search button*/
.login-section>button{
    height: 40px;
    width: 5.7rem;
    border-radius: 30px;
    font-size: medium;
    background-color: transparent;
}
.login-section>#login{
    border-color: transparent;
}
.login-section>#logout{
    border-color:limegreen;
}